---
	import { Icon } from "astro-icon"

---

<div class="relative w-full pt-6">
	<div class="relative mx-auto max-w-4xl px-4 pt-4 pb-8 sm:px-6 lg:px-8">
		<h1 class="text-center text-2xl font-bold text-stone-800 md:text-3xl">
			<span class="dark:text-stone-200">Making Scripture</span>
			<span class="bg-clip-text pb-3 text-primary-500 dark:text-white sm:pb-5">Accessible</span>
		</h1>
		<p class="my-4 text-sm text-stone-700 dark:text-stone-300 sm:px-2 md:text-center md:text-base md:leading-5 lg:tracking-tight">
			<span class="text-bold text-primary-600 dark:text-white">Digital Bible Society</span> connects the efforts of Bible publishers, translators, content creators, donors and Christian workers worldwide  to ensure that God’s Word is readily available for those who need it most.
		</p>
	</div>
</div>