---
import Dropdown from './Dropdown.svelte'
import { Icon } from 'astro-icon'
export interface Props {
  page: {
	title: string,
	href: string,
	nested: object|undefined,
  };
}

let nav_class = `
	inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-sm font-medium 
	text-stone-200 dark:text-stone-300 hover:border-stone-900 hover:text-white dark:hover:text-white
	active:bg-stone-50 active:text-black
`

const { page } = Astro.props;
const menu_id = page.title.replaceAll(' ', '-')
---

<div class={nav_class}>
	{ (page.nested) ? 
		<Dropdown page={page} nav_class={nav_class} client:visible /> : 
		<a href={page.href}><span class="flex items-center px-2 pt-1 pb-1.5 text-sm md:text-base xl:text-lg">{ page.title }</span></a>
	}
</div>