---
import Layout from '~/layouts/BaseLayout.astro'
import { SITE } from "~/config.mjs";
import { getLanguageFromPath } from "~/config.mjs";
import { i18n } from "~/translations/i18n.mjs";

import Datatable from "@dbs/datatables"

const countries = await fetch(`${SITE.apiUrl}/countries.json`).then(response => response.json())
const locale = getLanguageFromPath(Astro.url);
const t = i18n[locale]

---

<Layout>
	
	<div class="max-w-3xl mx-auto">
		<h1 class="text-center text-3xl pt-12">{t["countries"]}</h1>
		<Datatable inputData={countries} locale={locale} tableType="countries" client:visible />
	</div>

</Layout>