---
import Layout from "~/layouts/PageLayout.astro";
import { getLanguageFromPath, TRANSLATIONS } from '~/config.mjs';
import { i18n } from '@dbs/ui'
const locale = getLanguageFromPath(Astro.url);
const t = i18n[locale]

---
<Layout>

<div class="prose mx-auto max-w-prose">

    <nav class="text-center">
        <a href={`/${locale}/about`}>{t['about']}</a>
        <a href={`/${locale}/about/faq`}>{t['faq']}</a>
        <a href={`/${locale}/about/contact`}>{t['contact']}</a>
    </nav>

    <slot />
</div>

</Layout>