---
import "~/assets/styles/base.css";
import MetaTags from "~/components/core/MetaTags.astro";
import BasicScripts from "~/components/core/BasicScripts.astro";

const { meta = {} } = Astro.props;
---
<!DOCTYPE html>
<html>
<head>
    <MetaTags {...meta} />
</head>

<body class="antialiased text-gray-900 dark:text-stone-300 tracking-tight bg-white dark:bg-stone-900">
  <slot />
  <BasicScripts />
</body>
</html>
