/* Sprite Covers-----------------------------------**
---------------------------------------------------*/

a[class^=a]:before,
div[class^=a]:before,
a[class^=b]:before,
a[class^=c]:before,
div[class^=c]:before,
a[class^=d]:before,
a[class^=e]:before,
a[class^=f]:before {content:"";background-image:url('../images/sprite.jpg');float:right;margin-left:5px;-webkit-box-shadow:0 1px 1px 0px #000;-moz-box-shadow:0 1px 1px 0px #000;box-shadow:0 1px 1px 0px #000}

div[class^=a]:before,
a[class^=a]:before{width:32px;height:50px}
a[class^=b]:before{width:67px;height:100px}
div[class^=c]:before,
a[class^=c]:before{width:80px;height:60px}
a[class^=d]:before{width:75px;height:75px}
a[class^=e]:before{width:50px;height:33px}
a[class^=f]:before{width:100px;height:67px}

.c300:before {background-image:url(../images/covers/006_ARA_He_Lived_Among_Us_poster.jpg)!important}

.a001:before {background-position:-435px -233px}
.a002:before {background-position:-435px -294px}
.a003:before {background-position:-390px -294px}
.a004:before {background-position:-390px -233px}
.a005:before {background-position:-390px -111px}
.a006:before {background-position:-435px -172px}
.a007:before {background-position:-435px -111px}

.a219:before {background-position:-257px -351px}
.b219:before {background-position:-390px 0}
.a341:before {background-position:-215px -353px}
.b341:before {background-position:-312px -222px}
.a346:before {background-position:-172px -353px}
.b346:before {background-position:-234px -222px}
.a415:before {background-position:-129px -353px}
.b415:before {background-position:-156px -222px}
.a416:before {background-position:-86px -353px}
.b416:before {background-position:-78px -222px}
.a418:before {background-position:-43px -353px}
.b418:before {background-position:0 -222px}
.a419:before {background-position:0 -353px}
.b419:before {background-position:-312px -111px}
.a002:before {background-position:-435px -294px}
.b002:before {background-position:-234px -111px}
.a003:before {background-position:-390px -294px}
.b003:before {background-position:-156px -111px}
.a001:before {background-position:-435px -233px}
.b001:before {background-position:-78px -111px}
.a004:before {background-position:-390px -233px}
.b004:before {background-position:-312px 0}
.a006:before {background-position:-435px -172px}
.b006:before {background-position:-234px 0}
.a008:before {background-position:-390px -172px}
.b008:before {background-position:-156px 0}
.a007:before {background-position:-435px -111px}
.b007:before {background-position:0 0}
.a005:before {background-position:-390px -111px}
.b005:before {background-position:-78px 0}
.c001:before {background-position:-802px -284px}
.c002:before {background-position:-802px -213px}
.c003:before {background-position:-802px -142px}
.c004:before {background-position:-802px -71px}
.c005:before {background-position:-802px 0}
.a010:before {background-position:-936px -293px}
.b010:before {background-position:-624px -555px}
.c006:before {background-position:-728px -768px}
.a011:before {background-position:-936px -234px}
.b011:before {background-position:-546px -555px}
.c007:before {background-position:-637px -768px}
.a012:before {background-position:-936px -175px}
.b012:before {background-position:-468px -555px}
.c008:before {background-position:-546px -768px}
.c009:before {background-position:-455px -768px}
.c010:before {background-position:-364px -768px}
.a013:before {background-position:-936px -116px}
.b013:before {background-position:-390px -555px}
.a014:before {background-position:-936px -57px}
.b014:before {background-position:-312px -555px}
.a015:before {background-position:-936px 2px}
.b015:before {background-position:-234px -555px}
.a016:before {background-position:-905px -824px}
.b016:before {background-position:-156px -555px}
.a017:before {background-position:-862px -824px}
.b017:before {background-position:-78px -555px}
.a018:before {background-position:-819px -824px}
.b018:before {background-position:0 -555px}
.a019:before {background-position:-905px -765px}
.b019:before {background-position:-780px -444px}
.a020:before {background-position:-862px -765px}
.b020:before {background-position:-702px -444px}
.a021:before {background-position:-819px -765px}
.b021:before {background-position:-624px -444px}
.a022:before {background-position:-905px -706px}
.b022:before {background-position:-546px -444px}
.a023:before {background-position:-862px -706px}
.b023:before {background-position:-468px -444px}
.a024:before {background-position:-819px -706px}
.b024:before {background-position:-390px -444px}
.a025:before {background-position:-905px -647px}
.b025:before {background-position:-312px -444px}
.a026:before {background-position:-862px -647px}
.b026:before {background-position:-234px -444px}
.a027:before {background-position:-819px -647px}
.b027:before {background-position:-156px -444px}
.c011:before {background-position:-273px -768px}
.c012:before {background-position:-182px -768px}
.a028:before {background-position:-879px -588px}
.b028:before {background-position:-78px -444px}
.c013:before {background-position:-91px -768px}
.c014:before {background-position:0 -768px}
.c015:before {background-position:-728px -697px}
.c016:before {background-position:-637px -697px}
.c017:before {background-position:-546px -697px}
.c018:before {background-position:-455px -697px}
.c019:before {background-position:-364px -697px}
.c020:before {background-position:-273px -697px}
.c021:before {background-position:-182px -697px}
.c022:before {background-position:-91px -697px}
.c023:before {background-position:0 -697px}
.c024:before {background-position:-702px -626px}
.c025:before {background-position:-702px -555px}
.a313:before {background-position:-836px -588px}
.b313:before {background-position:0 -444px}
.a314:before {background-position:-793px -588px}
.b314:before {background-position:-724px -333px}
.a315:before {background-position:-901px -529px}
.b315:before {background-position:-646px -333px}
.a316:before {background-position:-858px -529px}
.b316:before {background-position:-568px -333px}
.a336:before {background-position:-901px -470px}
.b336:before {background-position:-490px -333px}
.a339:before {background-position:-858px -470px}
.b339:before {background-position:-724px -222px}
.a342:before {background-position:-901px -411px}
.b342:before {background-position:-646px -222px}
.a344:before {background-position:-858px -411px}
.b344:before {background-position:-568px -222px}
.a345:before {background-position:-888px -352px}
.b345:before {background-position:-490px -222px}
.a348:before {background-position:-845px -352px}
.b348:before {background-position:-724px -111px}
.a349:before {background-position:-802px -352px}
.b349:before {background-position:-646px -111px}
.a350:before {background-position:-893px -293px}
.b350:before {background-position:-568px -111px}
.a354:before {background-position:-893px -234px}
.b354:before {background-position:-490px -111px}
.a355:before {background-position:-893px -175px}
.b355:before {background-position:-724px 0}
.a369:before {background-position:-893px -116px}
.b369:before {background-position:-646px 0}
.a413:before {background-position:-893px -57px}
.b413:before {background-position:-568px 0}
.a420:before {background-position:-893px 2px}
.b420:before {background-position:-490px 0}
.c026:before {background-position:-364px -923px}
.c027:before {background-position:-273px -923px}
.c028:before {background-position:-182px -923px}
.c029:before {background-position:-91px -923px}
.c030:before {background-position:0 -923px}
.c031:before {background-position:-1067px -852px}
.a095:before {background-position:-1065px -1001px}
.b095:before {background-position:-858px -999px}
.a096:before{background-position:-1022px -1001px}
.b096:before {background-position:-780px -999px}
.a097:before {background-position:-1153px -942px}
.b097:before {background-position:-702px -999px}
.a098:before {background-position:-1110px -942px}
.b098:before {background-position:-624px -999px}
.a099:before {background-position:-1067px -942px}
.b099:before {background-position:-546px -999px}
.a100:before {background-position:-1158px -883px}
.b100:before {background-position:-468px -999px}
.c032:before {background-position:-1067px -781px}
.c033:before {background-position:-1067px -710px}
.c034:before {background-position:-1067px -639px}
.c035:before {background-position:-1067px -568px}
.a307:before {background-position:-1158px -824px}
.b307:before {background-position:-390px -999px}
.c036:before {background-position:-1067px -497px}
.a312:before {background-position:-1158px -765px}
.b312:before {background-position:-312px -999px}
.c037:before {background-position:-1067px -426px}
.c039:before {background-position:-1067px -355px}
.c040:before {background-position:-1067px -284px}
.c041:before {background-position:-1067px -213px}
.c042:before {background-position:-1067px -142px}
.a318:before {background-position:-1158px -706px}
.b318:before {background-position:-234px -999px}
.a319:before {background-position:-1158px -647px}
.b319:before {background-position:-156px -999px}
.c044:before {background-position:-1067px -71px}
.a320:before {background-position:-1158px -588px}
.b320:before {background-position:-78px -999px}
.c045:before {background-position:-1067px 0}
.a3222:before {background-position:-1158px -529px}
.b3222:before {background-position:0 -999px}
.d3222:before {background-position:-936px -999px}
.a322:before {background-position:-1158px -470px}
.b322:before {background-position:-989px -888px}
.a323:before {background-position:-1158px -411px}
.b323:before {background-position:-989px -777px}
.a324:before {background-position:-1158px -352px}
.b324:before {background-position:-989px -666px}
.a332:before {background-position:-1158px -293px}
.b332:before {background-position:-989px -555px}
.a334:before {background-position:-1158px -234px}
.b334:before {background-position:-989px -444px}
.a343:before {background-position:-1158px -175px}
.b343:before {background-position:-989px -333px}
.a351:before {background-position:-1158px -116px}
.b351:before {background-position:-989px -222px}
.a352:before {background-position:-1158px -57px}
.b352:before {background-position:-989px -111px}
.a356:before {background-position:-1158px 2px}
.b356:before {background-position:-989px 0}
.c038:before {background-position:-91px -1120px}
.c043:before {background-position:0 -1120px}
.c046:before {background-position:-1377px -568px}
.c047:before {background-position:-1377px -497px}
.c048:before {background-position:-1377px -426px}
.c049:before {background-position:-1377px -355px}
.c050:before {background-position:-1377px -284px}
.c051:before {background-position:-1377px -213px}
.a200:before {background-position:-122px -1328px}
.b200:before {background-position:-546px -1221px}
.a201:before {background-position:-81px -1328px}
.b201:before {background-position:-468px -1221px}
.a202:before {background-position:-40px -1328px}
.b202:before {background-position:-390px -1221px}
.a203:before {background-position:1px -1328px}
.b203:before {background-position:-312px -1221px}
.a204:before {background-position:-1428px -1272px}
.b204:before {background-position:-234px -1221px}
.a205:before {background-position:-1387px -1272px}
.b205:before {background-position:-156px -1221px}
.a206:before {background-position:-1346px -1272px}
.b206:before {background-position:-78px -1221px}
.a210:before {background-position:-1428px -1216px}
.b210:before {background-position:0 -1221px}
.a211:before {background-position:-1387px -1216px}
.b211:before {background-position:-1299px -1110px}
.a212:before {background-position:-1346px -1216px}
.b212:before {background-position:-1221px -1110px}
.a213:before {background-position:-1417px -1160px}
.b213:before {background-position:-1299px -999px}
.a214:before {background-position:-1376px -1160px}
.b214:before {background-position:-1221px -999px}
.a215:before {background-position:-1417px -1104px}
.b215:before {background-position:-1299px -888px}
.a216:before {background-position:-1376px -1108px}
.b216:before {background-position:-1221px -888px}
.a217:before {background-position:-1417px -1048px}
.b217:before {background-position:-1299px -777px}
.a218:before {background-position:-1376px -1048px}
.b218:before {background-position:-1221px -777px}
.a301:before {background-position:-1420px -991px}
.b301:before {background-position:-1299px -666px}
.a302:before {background-position:-1377px -991px}
.b302:before {background-position:-1221px -666px}
.a303:before {background-position:-1420px -932px}
.b303:before {background-position:-1299px -555px}
.a304:before {background-position:-1377px -932px}
.b304:before {background-position:-1221px -555px}
.a310:before {background-position:-1420px -873px}
.b310:before {background-position:-1299px -444px}
.a331:before {background-position:-1377px -873px}
.b331:before {background-position:-1221px -444px}
.a333:before {background-position:-1420px -814px}
.b333:before {background-position:-1299px -333px}
.a335:before {background-position:-1377px -814px}
.b335:before {background-position:-1221px -333px}
.a337:before {background-position:-1420px -755px}
.b337:before {background-position:-1299px -222px}
.a340:before {background-position:-1377px -755px}
.b340:before {background-position:-1221px -222px}
.c052:before {background-position:-1377px -142px}
.c053:before {background-position:-1377px -71px}
.c054:before {background-position:-1377px 0}
.a347:before {background-position:-1420px -696px}
.b347:before {background-position:-1299px -111px}
.c055:before {background-position:-1165px -1292px}
.c056:before {background-position:-1074px -1292px}
.c057:before {background-position:-983px -1292px}
.c058:before {background-position:-892px -1292px}
.c059:before {background-position:-801px -1292px}
.c060:before {background-position:-710px -1292px}
.a353:before {background-position:-1377px -696px}
.b353:before {background-position:-1221px -111px}
.c061:before {background-position:-1256px -1221px}
.c062:before {background-position:-1165px -1221px}
.c063:before {background-position:-1074px -1221px}
.c064:before {background-position:-983px -1221px}
.c065:before {background-position:-892px -1221px}
.c066:before {background-position:-801px -1221px}
.c067:before {background-position:-801px -1221px}
.c068:before {background-position:-710px -1221px}
.a385:before {background-position:-1420px -637px}
.b385:before {background-position:-1299px 0}
.d411:before {background-position:-624px -1221px}
.a414:before {background-position:-1377px -637px}
.b414:before {background-position:-1221px 0}
.c070:before {background-position:-1352px -1398px}
.c068:before {background-position:-1261px -1398px}
.c069:before {background-position:-1170px -1398px}
.a328:before {background-position:-1480px 2px}
.b328:before {background-position:0 -1398px}
.c071:before {background-position:-1079px -1398px}
.c072:before {background-position:-988px -1398px}
.c073:before {background-position:-897px -1398px}
.c074:before {background-position:-806px -1398px}
.c075:before {background-position:-715px -1398px}
.c076:before {background-position:-624px -1398px}
.c077:before {background-position:-533px -1398px}
.c078:before {background-position:-442px -1398px}
.c079:before {background-position:-351px -1398px}
.c080:before {background-position:-260px -1398px}
.c081:before {background-position:-169px -1398px}
.c082:before {background-position:-78px -1398px}
.a388:before {background-position:-1533px -819px}
.b388:before {background-position:-1533px 0}
.c083:before {background-position:-1533px -750px}
.c084:before {background-position:-1533px -679px}
.c085:before {background-position:-1533px -608px}
.c086:before {background-position:-1533px -537px}
.c087:before {background-position:-1533px -466px}
.c088:before {background-position:-1533px -395px}
.c089:before {background-position:-1533px -324px}
.c090:before {background-position:-1533px -253px}
.c091:before {background-position:-1533px -182px}
.c092:before {background-position:-1533px -111px}
.c093:before {background-position:-1634px -628px}
.c094:before {background-position:-1634px -557px}
.c095:before {background-position:-1634px -486px}
.c096:before {background-position:-1634px -415px}
.c097:before {background-position:-1634px -344px}
.d001:before {background-position:-1634px -258px}
.d002:before {background-position:-1634px -172px}
.d003:before {background-position:-1634px -86px}
.d004:before {background-position:-1634px 0}
.d005:before {background-position:-1548px -1529px}
.d006:before {background-position:-1462px -1529px}
.d007:before {background-position:-1376px -1529px}
.d008:before {background-position:-1290px -1529px}
.d009:before {background-position:-1204px -1529px}
.d010:before {background-position:-1118px -1529px}
.d011:before {background-position:-1032px -1529px}
.d012:before {background-position:-946px -1529px}
.d013:before {background-position:-860px -1529px}
.d014:before {background-position:-774px -1529px}
.d015:before {background-position:-688px -1529px}
.d016:before {background-position:-602px -1529px}
.d017:before {background-position:-516px -1529px}
.d018:before {background-position:-430px -1529px}
.d019:before {background-position:-344px -1529px}
.d020:before {background-position:-258px -1529px}
.d021:before {background-position:-172px -1529px}
.d022:before {background-position:-86px -1529px}
.d023:before {background-position:0 -1529px}
.a076:before {background-position:-1850px -1676px}
.b076:before {background-position:-1092px -1665px}
.a077:before {background-position:-1807px -1676px}
.b077:before {background-position:-1014px -1665px}
.a078:before {background-position:-1856px -1617px}
.b078:before {background-position:-936px -1665px}
.a079:before {background-position:-1813px -1617px}
.b079:before {background-position:-858px -1665px}
.a081:before {background-position:-1856px -1558px}
.b081:before {background-position:-780px -1665px}
.a082:before {background-position:-1813px -1558px}
.b082:before {background-position:-702px -1665px}
.a083:before {background-position:-1856px -1499px}
.b083:before {background-position:-624px -1665px}
.a084:before {background-position:-1813px -1499px}
.b084:before {background-position:-546px -1665px}
.a085:before {background-position:-1856px -1440px}
.b085:before {background-position:-468px -1665px}
.a086:before {background-position:-1813px -1440px}
.b086:before {background-position:-390px -1665px}
.a087:before {background-position:-1856px -1381px}
.b087:before {background-position:-312px -1665px}
.a089:before {background-position:-1813px -1381px}
.b089:before {background-position:-234px -1665px}
.a090:before {background-position:-1856px -1322px}
.b090:before {background-position:-156px -1665px}
.a091:before {background-position:-1813px -1322px}
.b091:before {background-position:-78px -1665px}
.a093:before {background-position:-1856px -1263px}
.b093:before {background-position:0 -1665px}
.a094:before {background-position:-1813px -1263px}
.b094:before {background-position:-1735px -1554px}
.a305:before {background-position:-1856px -1204px}
.b305:before {background-position:-1735px -1443px}
.a306:before {background-position:-1813px -1204px}
.b306:before {background-position:-1735px -1332px}
.a308:before {background-position:-1856px -1145px}
.b308:before {background-position:-1735px -1221px}
.a311:before {background-position:-1813px -1145px}
.b311:before {background-position:-1735px -1110px}
.a325:before {background-position:-1856px -1086px}
.b325:before {background-position:-1735px -999px}
.a326:before {background-position:-1813px -1086px}
.b326:before {background-position:-1735px -888px}
.a327:before {background-position:-1856px -1027px}
.b327:before {background-position:-1735px -777px}
.a364:before {background-position:-1813px -1027px}
.b364:before {background-position:-1735px -666px}
.a365:before {background-position:-1856px -968px}
.b365:before {background-position:-1735px -555px}
.a373:before {background-position:-1813px -968px}
.b373:before {background-position:-1735px -444px}
.a391:before {background-position:-1856px -909px}
.b391:before {background-position:-1735px -333px}
.a392:before {background-position:-1813px -909px}
.b392:before {background-position:-1735px -222px}
.c118:before {background-position:-1813px -781px}
.c119:before {background-position:-1813px -710px}
.c120:before {background-position:-1813px -639px}
.c121:before {background-position:-1813px -568px}
.c122:before {background-position:-1813px -497px}
.c123:before {background-position:-1813px -426px}
.c098:before {background-position:-1813px -355px}
.c099:before {background-position:-1813px -284px}
.a409:before {background-position:-1856px -850px}
.b409:before {background-position:-1735px -111px}
.c100:before {background-position:-1813px -213px}
.c101:before {background-position:-1813px -142px}
.a417:before {background-position:-1813px -850px}
.b417:before {background-position:-1735px 0}
.c102:before {background-position:-1813px -71px}
.c103:before {background-position:-1813px 0}
.c104:before {background-position:-1716px -1736px}
.c105:before {background-position:-1625px -1736px}
.c106:before {background-position:-1534px -1736px}
.c107:before {background-position:-1443px -1736px}
.c108:before {background-position:-1352px -1736px}
.c109:before {background-position:-1261px -1736px}
.c110:before {background-position:-1170px -1736px}
.c111:before {background-position:-1716px -1665px}
.c112:before {background-position:-1625px -1625px}
.c113:before {background-position:-1534px -1625px}
.c114:before {background-position:-1443px -1625px}
.c115:before {background-position:-1352px -1625px}
.c116:before {background-position:-1261px -1625px}
.c117:before {background-position:-1170px -1625px}
.a329:before {background-position:-516px -1996px}
.b329:before {background-position:-1950px -1887px}
.a338:before {background-position:-473px -1996px}
.b338:before {background-position:-1950px -1776px}
.a358:before {background-position:-430px -1996px}
.b358:before {background-position:-1914px -1665px}
.a359:before {background-position:-387px -1996px}
.b359:before {background-position:-1914px -1554px}
.a360:before {background-position:-344px -1996px}
.b360:before {background-position:-1914px -1443px}
.a361:before {background-position:-301px -1996px}
.b361:before {background-position:-1914px -1332px}
.a362:before {background-position:-258px -1996px}
.b362:before {background-position:-1914px -1221px}
.a363:before {background-position:-215px -1996px}
.b363:before {background-position:-1914px -1110px}
.a366:before {background-position:-172px -1996px}
.b366:before {background-position:-1914px -999px}
.a367:before {background-position:-129px -1996px}
.b367:before {background-position:-1914px -888px}
.a368:before {background-position:-86px -1996px}
.b368:before {background-position:-1914px -777px}
.a370:before {background-position:-43px -1996px}
.b370:before {background-position:-1914px -666px}
.a371:before {background-position:0 -1996px}
.b371:before {background-position:-1914px -555px}
.a372:before {background-position:-1992px -1709px}
.b372:before {background-position:-1914px -444px}
.a374:before {background-position:-1992px -1650px}
.b374:before {background-position:-1914px -333px}
.a375:before {background-position:-1992px -1591px}
.b375:before {background-position:-1914px -222px}
.a376:before {background-position:-1992px -1532px}
.b376:before {background-position:-1914px -111px}
.a377:before {background-position:-1992px -1473px}
.b377:before {background-position:-1914px 0}
.a378:before {background-position:-1992px -1414px}
.b378:before {background-position:-1872px -1817px}
.a379:before {background-position:-1992px -1355px}
.b379:before {background-position:-1794px -1817px}
.a380:before {background-position:-1992px -1296px}
.b380:before {background-position:-1716px -1817px}
.a381:before {background-position:-1992px -1237px}
.b381:before {background-position:-1638px -1817px}
.a382:before {background-position:-1992px -1178px}
.b382:before {background-position:-1560px -1817px}
.a383:before {background-position:-1992px -1119px}
.b383:before {background-position:-1482px -1817px}
.a384:before {background-position:-1992px -1060px}
.b384:before {background-position:-1404px -1817px}
.a386:before {background-position:-1992px -1001px}
.b386:before {background-position:-1326px -1817px}
.a387:before {background-position:-1992px -942px}
.b387:before {background-position:-1248px -1817px}
.a389:before {background-position:-1992px -883px}
.b389:before {background-position:-1170px -1817px}
.a390:before {background-position:-1992px -824px}
.b390:before {background-position:-1092px -1817px}
.a393:before {background-position:-1992px -765px}
.b393:before {background-position:-1014px -1817px}
.a394:before {background-position:-1992px -706px}
.b394:before {background-position:-936px -1817px}
.a395:before {background-position:-1992px -647px}
.b395:before {background-position:-858px -1817px}
.a396:before {background-position:-1992px -588px}
.b396:before {background-position:-780px -1817px}
.a397:before {background-position:-1992px -529px}
.b397:before {background-position:-702px -1817px}
.a398:before {background-position:-1992px -470px}
.b398:before {background-position:-624px -1817px}
.a399:before {background-position:-1992px -411px}
.b399:before {background-position:-546px -1817px}
.a400:before {background-position:-1992px -352px}
.b400:before {background-position:-468px -1817px}
.a401:before {background-position:-1992px -293px}
.b401:before {background-position:-390px -1817px}
.a406:before {background-position:-1992px -234px}
.b406:before {background-position:-312px -1817px}
.a408:before {background-position:-1992px -175px}
.b408:before {background-position:-234px -1817px}
.a410:before {background-position:-1992px -116px}
.b410:before {background-position:-156px -1817px}
.a411:before {background-position:-1992px -57px}
.b411:before {background-position:-78px -1817px}
.a412:before {background-position:-1992px 2px}
.b412:before {background-position:0 -1817px}
.c124:before {background-position:-1729px -2130px}
.c125:before {background-position:-1638px -2130px}
.c126:before {background-position:-1547px -2130px}
.c127:before {background-position:-1456px -2130px}
.c128:before {background-position:-1365px -2130px}
.c129:before {background-position:-1274px -2130px}
.c130:before{background-position:-1183px -2130px}
.c131:before {background-position:-1092px -2130px}
.c132:before {background-position:-1001px -2130px}
.c133:before {background-position:-910px -2130px}
.c134:before {background-position:-819px -2130px}
.c135:before {background-position:-728px -2130px}
.c136:before {background-position:-637px -2130px}
.c137:before {background-position:-546px -2130px}
.c138:before {background-position:-455px -2130px}
.c139:before {background-position:-364px -2130px}
.c140:before {background-position:-273px -2130px}
.c141:before {background-position:-182px -2130px}
.c142:before {background-position:-91px -2130px}
.c143:before {background-position:0 -2130px}
.c144:before {background-position:-2136px -2059px}
.c145:before {background-position:-2136px -1988px}
.c146:before {background-position:-2136px -1917px}
.c147:before {background-position:-2136px -1846px}
.c148:before {background-position:-2136px -1775px}
.c149:before {background-position:-2136px -1704px}
.c150:before {background-position:-2136px -1633px}
.c151:before {background-position:-2136px -1562px}
.c152:before {background-position:-2136px -1491px}
.c153:before {background-position:-2136px -1420px}
.c154:before {background-position:-2136px -1349px}
.c155:before {background-position:-2136px -1278px}
.c156:before {background-position:-2136px -1207px}
.c157:before {background-position:-2136px -1136px}
.c158:before {background-position:-2136px -1065px}
.c159:before {background-position:-2136px -994px}
.c160:before {background-position:-2136px -923px}
.c161:before {background-position:-2136px -852px}
.c162:before {background-position:-2136px -781px}
.c163:before {background-position:-2136px -710px}
.c164:before {background-position:-2136px -639px}
.c165:before {background-position:-2136px -568px}
.c166:before {background-position:-2136px -497px}
.c167:before {background-position:-2136px -426px}
.c168:before {background-position:-2136px -355px}
.c169:before {background-position:-2136px -284px}
.c170:before {background-position:-2136px -213px}
.c171:before {background-position:-2136px -142px}
.c172:before {background-position:-2136px -71px}
.c173:before {background-position:-2136px 0}
.c174:before {background-position:-2045px -2059px}
.c175:before {background-position:-2045px -1988px}
.c176:before {background-position:-2045px -1917px}
.c177:before {background-position:-2045px -1846px}
.c178:before {background-position:-2045px -1775px}
.c179:before {background-position:-2045px -1704px}
.c180:before {background-position:-2045px -1633px}
.c181:before {background-position:-2045px -1562px}
.c182:before {background-position:-2045px -1491px}
.c183:before {background-position:-2045px -1420px}
.c184:before {background-position:-2045px -1349px}
.c185:before {background-position:-2045px -1278px}
.c186:before {background-position:-2045px -1207px}
.c187:before {background-position:-2045px -1136px}
.c188:before {background-position:-2045px -1065px}
.c189:before {background-position:-2045px -994px}
.c190:before {background-position:-2045px -923px}
.c191:before {background-position:-2045px -852px}
.c192:before {background-position:-2045px -781px}
.c193:before {background-position:-2045px -710px}
.c194:before {background-position:-2045px -639px}
.c195:before {background-position:-2045px -568px}
.c196:before {background-position:-2045px -497px}
.c197:before {background-position:-2045px -426px}
.c198:before {background-position:-2045px -355px}
.c199:before {background-position:-2045px -284px}
.c200:before {background-position:-2045px -213px}
.c201:before {background-position:-2045px -142px}
.c202:before {background-position:-2045px -71px}
.c203:before {background-position:-2045px 0}

a.abo01:before {background-image:url(../images/covers/ABO01_GenisisExodus.jpg)}
a.abo02:before {background-image:url(../images/covers/ABO02_NumbersToJoshua.jpg)}
a.abo03:before {background-image:url(../images/covers/ABO03_JudgesToSamuel.jpg)}
a.abo04:before {background-image:url(../images/covers/ABO04_KingsEshter.jpg)}
a.abo05:before {background-image:url(../images/covers/ABO05_JobToSongs.jpg)}
a.abo06:before {background-image:url(../images/covers/ABO06_MarriageandFamily_1.jpg)}
a.abo07:before {background-image:url(../images/covers/ABO07_MarriageandFamily_2.jpg)}
a.abo08:before {background-image:url(../images/covers/ABO08_MajorProphets.jpg)}
a.abo09:before {background-image:url(../images/covers/ABO09_MinorProphets.jpg)}
a.abo10:before {background-image:url(../images/covers/ABO10_MatthewSurvey.jpg)}
a.abo11:before {background-image:url(../images/covers/ABO11_SurveyOfLukeAndJohn.jpg)}
a.abo12:before {background-image:url(../images/covers/ABO12_ActsAndRomans.jpg)}
a.abo13:before {background-image:url(../images/covers/ABO13_Corinthians.jpg)}
a.abo14:before {background-image:url(../images/covers/ABO14_FromGalatiansToThessalonians.jpg)}
a.abo16:before {background-image:url(../images/covers/ABO16_ValuesOfChrist_01.jpg)}
a.abo17:before {background-image:url(../images/covers/ABO17_ValuesOfChrist_02.jpg)}
a.abo18:before {background-image:url(../images/covers/ABO18_StudyOfFirstCorinthians_01.jpg)}
a.abo19:before {background-image:url(../images/covers/ABO19_StudyOfFirstCorinthians_02.jpg)}
a.abo24:before {background-image:url(../images/covers/ABO24_StudyOfBookOfJohn_01.jpg)}
a.abo25:before {background-image:url(../images/covers/ABO25_StudyOfBookOfJohn_02.jpg)}
a.abo26:before {background-image:url(../images/covers/ABO26_StudyOfBookOfJohn_03.jpg)}
a.abo27:before {background-image:url(../images/covers/ABO27_StudyOfBookOfJohn_04.jpg)}
a.abo28:before {background-image:url(../images/covers/ABO28_StudyOfBookOfJohn_05.jpg)}
a.abo29:before {background-image:url(../images/covers/ABO29_StudyOfBookOfJohn_06.jpg)}
a.abo30:before {background-image:url(../images/covers/ABO30_Romans_01.jpg)}
a.abo31:before {background-image:url(../images/covers/ABO31_Romans_02.jpg)}
a.abo32:before {background-image:url(../images/covers/ABO32_Romans_03.jpg)}
a.abo33:before {background-image:url(../images/covers/ABO33_Romans_04.jpg)}
a.abo34:before {background-image:url(../images/covers/ABO34_TheSermonOnTheMount.jpg)}

