---
import { SITE } from "~/config.mjs";
const metadata = SITE[import.meta.env.COUNTRY_ID]
---

<span
  class="self-center ml-2 text-2xl font-extrabold text-gray-900 whitespace-nowrap dark:text-white"
>
  {metadata.name}
</span>
